/* 通用 */
body {
	margin: 0px;
	/* 背景图片； 位置； 尺寸30%视觉宽度； 固定位置*/
	background-image: url("https://www.macrolib.com/images/back.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 20vw auto;
	background-attachment: fixed;
	/* 字体 */
	font-family: Arial;
	font-weight: 100;
}
.hlayer {
	background-color: rgba(0,0,0,0.95);
	background-image: url("https://www.macrolib.com/images/back.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 20vw auto;
	background-attachment: fixed;
}
.hcontainer {
	max-width: 900px;
	/* 居中 */
	margin: 0 auto;
	/* 字体 */
	color: rgba(255,255,255,0.95);
}
.flayer {
	background-color: rgba(0,0,0,0.95);
}
.fcontainer {
	max-width: 900px;
	/* 居中 */
	margin: 0 auto;
	/* 字体 */
	text-align: center;
	color: rgba(255,255,255,0.95);
}

/* 主要容器限制；最大宽度900px； 上下0； 左右居中*/
.container {
	max-width: 900px;
	margin: 0 auto;
}

/* buttom */
.btnL1 {
	width: 100%;
	height: 50px; 
	display: flex;
}
.btnL2 {
	width: 40%;
	height: 40px; 
	margin: auto;
	border-radius:10px;
	display:flex; 
	justify-content:center; 
	align-items:center; 
	background-image: url("https://www.macrolib.com/images/btn.png");
	background-repeat: no-repeat;
	background-size: 20% auto;
	background-position: right bottom;
	cursor: pointer;
	transition: all 0.25s;
}
.btnL2:hover {
	background-size: 100% auto;
	font-size: 20px;
}

.floating {
    position: fixed;
    top: 75%; /* 垂直居中 */
    right: 0; /* 固定在右侧 */
    width: auto; /* 宽度 */
    height: 35hv; /* 高度 */
    transform: translateY(-50%); /* 垂直居中的微调 */
	transition: all 0.5s ease;
    z-index: 1000; /* 确保在其他内容上方 */
}
#aimg: hover {
	transform: scale(4);
    cursor: pointer;
}